*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background: -webkit-linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 80%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-box{
    width: 350px;
    height: 430px;
    background-color: gray;
}
.display{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 15px;
    padding: 5px;
    border: none;
    background-color: gray;
    color: black;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
}

button{
    width: 72px;
    height: 65px;
    border-color: black;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 2px;
    border-radius: 50%;
    border: none;
    margin-bottom: 4px;
    background-color: blanchedalmond;
    text-align: center;
}

.buttons{
    display: inline-block;
    margin-left: 25px;
    
}

.special{
    background-color: darksalmon;
    color: black;
}